.btn {
  width: 100%;
  --text-opacity: 1;
  /* color: #ffffff; */
  color: rgba(255, 255, 255, var(--text-opacity));
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  --bg-opacity: 1;
  /* background-color: #5850ec; */
  background-color: rgba(88, 80, 236, var(--bg-opacity));
  line-height: inherit;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  cursor: pointer;
  --bg-opacity: 1;
  /* background-color: #5850ec; */
  background-color: rgba(98, 90, 316, var(--bg-opacity));
}
